.container_window {
    z-index: -1;
    background: url('https://previews.123rf.com/images/nicolasmenijes/nicolasmenijes1505/nicolasmenijes150500658/40605587-3d-renderer-illustration-white-people-writing-sign-up-on-notebook-page-isolated-white-background.jpg') no-repeat;
    background-size: cover;
    position: fixed;
    width: 100%;
    height: 100vh;
}
.container {
    width: 400px;
    background: #fff;
    padding-bottom: 50px;
}
label{ 
    font-size: 12px;
    margin-bottom: 0;
}
.form-group{
    position: relative;
}
.form-group .success {
    border: 1px solid green;
    background: lightgreen;
}

.form-group .error {
    border: 1px solid red;
    background: lightcoral;
    /* z-index: -1; */
    content: icon;
}
.alert {
    color: red !important;
}

input[required] {
    background: url('https://previews.123rf.com/images/mykub/mykub1902/mykub190200442/117044281-warning-icon-the-attention-icon-danger-symbol-alert-icon.jpg') no-repeat;
    background-size: contain;
    background-position: right;
    /* background: transparent; */
    opacity: 0.7;
    z-index: 1;
}